<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="POSt">
        <label for="title">Uppgift:</label>
        <input type="text" name="taskTitle" id="title" required>

        <label for="priority">Prioritet:</label>
        <select name="taskPriority" id="priority">
            <option value="Låg">Låg</option>
            <option value="Medium">Låg</option>
            <option value="Hög">Låg</option>
        </select>

        <button type="sumbit">Spara uppgift</button>
    </form>
</body>
</html>